:root {
	--primary-text-color: #242424;
	--accent-text-color: #ffffff; /* Suggested accent color */
	--steps: 50;
	--background: radial-gradient(at 40% 20%, hsla(28, 50%, 60%, 0.8) 0px, transparent 50%),
		radial-gradient(at 80% 0%, hsla(189, 89%, 48%, 0.8) 0px, transparent 50%),
		radial-gradient(at 0% 50%, hsla(355, 50%, 83%, 0.8) 0px, transparent 50%),
		radial-gradient(at 80% 50%, hsla(340, 50%, 66%, 0.8) 0px, transparent 50%),
		radial-gradient(at 0% 100%, hsla(22, 50%, 67%, 0.8) 0px, transparent 50%),
		radial-gradient(at 80% 100%, hsla(242, 50%, 60%, 0.8) 0px, transparent 50%),
		radial-gradient(at 0% 0%, hsla(343, 50%, 66%, 0.8) 0px, transparent 50%);
	user-select: none;
	font-family: "Consolas", sans-serif;
	font-size: 2rem;
}

@media (max-width: 768px) {
	.container_default_menu_style {
		width: 90%; /* Adjust the width for smaller screens */
	}

	.table-text {
		width: 100%; /* Make buttons take full width on small screens */
		margin: 10px 0; /* Adjust the margin for better spacing */
	}
}

.button {
	display: inline-block;
	padding: 10px 20px; /* Ваши текущие отступы */
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border: 2px solid #3498db;
	border-radius: 5px;
	transition:
		background-color 0.3s,
		color 0.3s;
}

/* Стили при наведении */
.button:hover {
	background-color: #3498db;
	color: #fff;
}

/* Стили при активации */
.button:active {
	background-color: #2980b9;
}

/* Дополнительные стили для разных видов кнопок (пример) */
.primary {
	background-color: #3498db;
	color: #fff;
}

.secondary {
	background-color: #2ecc71;
	color: #fff;
}

.cube-container {
	perspective: 800px;
}

.cube {
	width: 50px;
	height: 50px;
	background: linear-gradient(to left top, rgb(123, 123, 255), red);
	animation: rotate 2s infinite linear;
}

@keyframes rotate {
	from {
		transform: rotateX(0deg) rotateY(0deg);
	}
	to {
		transform: rotateX(360deg) rotateY(360deg);
	}
}

.danger {
	background-color: #e74c3c;
	color: #fff;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: var(--background);
	margin: 0;
	color: var(--accent-text-color);
}

.typing {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
	text-align: center;
}

.typing-text {
	overflow: hidden;
	white-space: nowrap;
	border-right: 2px solid var(--accent-text-color);
	animation:
		typing 3s steps(24, end),
		blink-caret 0.5s step-end infinite;
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: var(--accent-text-color);
	}
}

.table-text {
	border: none;
	background-color: #ffffff;
	height: 80px;
	width: 220px;
	border-radius: 15px;
	color: black;
	margin: 0 20px;
	font-size: 0.8rem;
	cursor: pointer;
	transition:
		background-color 0.3s ease,
		transform 0.8s ease;
}

.table-text:hover {
	background-color: #e0e0e0;
	transform: scale(1.3);
}

.center-filter {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container_default_menu_style {
	display: grid;
  grid-template-columns: repeat(4, 1fr);
	background: #a671b1;
	border-radius: 20px;
	width: 60%;
	padding: 20px;
	margin: 20px auto;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.button-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.snowflake {
	position: fixed;
	top: 0;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
	animation: fall linear infinite;
	animation-timing-function: ease-in-out;
	animation-duration: 5s;
	transform-style: preserve-3d;
	transform-origin: 50% 50%;
}

@keyframes fall {
	to {
		transform: translateY(100vh) rotateZ(360deg);
	}
}
